# SPDX-License-Identifier: GPL-2.0-only
#
# QCOM specific hwtracing drivers
#
menu "Qualcomm specific hwtracing drivers"

config QCOM_TGU
	tristate "QCOM Trigger Generation Unit driver"
	depends on ARCH_QCOM || COMPILE_TEST
	depends on ARM_AMBA
	help
	  This driver provides support for Trigger Generation Unit that is
	  used to detect patterns or sequences on a given set of signals.
	  TGU is used to monitor a particular bus within a given region to
	  detect illegal transaction sequences or slave responses. It is also
	  used to monitor a data stream to detect protocol violations and to
	  provide a trigger point for centering data around a specific event
	  within the trace data buffer.

endmenu
